[2019-10-16 04:44] RageshR007 opened #2 "Error in app"
Hi...I had successfully configured API and installed the app on android mobile ..Able to log in ....but no ticket is visible there ...it shows an error message as " Requested range not satisfiable :response with content range denied"....But i m able to create ticket via mobile app and its visible on web log in ...in mobile app above error shows every time and no ticket is visible.Your help and gui

[2019-10-16 07:21] OscarBeiro commented on #2
Hi @RageshR007 Ragesh,
Please create a new ticket as a bug, adding all the necessary information, so we can try to reproduce.
Thanks

[2019-10-16 09:25] RageshR007 opened #3 "Bug Gapp"
**Describe the bug**
Hi...I had successfully configured API and installed the app on android mobile ..Able to log in ....but no ticket is visible there ...it shows an error message as " Requested range not satisfiable :response with content range denied"....But i m able to create ticket via mobile app and its visible on web log in ...in mobile app above error shows every time and no ticket is visi

[2019-10-16 12:00] OscarBeiro commented on #2
We continue on #3
Thanks

[2019-10-16 12:00] #2 closed, assigned to OscarBeiro

[2019-10-16 12:20] OscarBeiro commented on #3
Hi Ragesh,
We have been simulating possible problems, and cannot reproduce.
- If the number of ticket were to big, you would get a timeout.

Your error is a **416 Requested Range Not Satisfiable**. Are you using Apache? Error logs could bring more light to this issue. Please post the Apache error.
Regards,

[2019-10-17 07:32] RageshR007 commented on #3
Pls see the Apache web server error log

137.97.125.255 - ragesh [17/Oct/2019:13:00:18 +0530] "GET /octa-it/apirest.php/initSession/ HTTP/1.1" 200 46 "-" "Dalvik/2.1.0 (Linux; U; Android 8.0.0; AUM-AL20 Build/HONORAUM-AL20)"
137.97.125.255 - - [17/Oct/2019:13:00:19 +0530] "GET /octa-it/plugins/gappessentials/apirest.php/pluginList HTTP/1.1" 404 251 "-" "Dalvik/2.1.0 (Linux; U; Android 8.0.0; AUM-A

[2019-10-17 11:35] RageshR007 commented on #3
![Screenshot_20191017-170215](https://user-images.githubusercontent.com/56621454/67005391-1e2bed00-f100-11e9-92ee-eb42ae2019b1.jpg)

In order to reproduce the issue..You can test it by adding given url on the screenshot  to your phone app and log in with below cedentials
ID- glpitest

[2019-10-17 11:57] OscarBeiro commented on #3
I've removed password. Will test it and give you some feedback.

[2019-10-17 12:36] OscarBeiro commented on #3
Hi,

This is an specific problem to your setup. Your watchguard is blocking some requests.

![1589b1f5-f02f-42e1-852a-090e46eaabfc](https://user-images.githubusercontent.com/18396050/67008220-5aa01e80-f0e9-11e9-81e1-ec1c787f5c44.jpeg)

https://www.watchguard.com/help/docs/help-center/en-US/Content/en-US/Fireware/proxies/http/http_proxy_deny_msg_c.html

We'll use this ticket as a reminder that user

[2019-10-17 12:36] #3 closed, assigned to OscarBeiro

[2019-10-18 04:10] RageshR007 commented on #3
Thanks to shed light on this issue....Our IT security team been resolved the issue...Once again thanks and your app working awesome.

[2019-10-18 04:39] RageshR007 opened #4 "Cannot add followup on tickets via mobile app"
Hi Oscar...As a followup on to previous issue....Now i m able to log in and view the tickets...but i m getting below error every time ....also i cannot add followup as it shows error as below screenshots...But i can add solution and close the ticket if i ignore 'Document permission error"...This error coming up regardless of the tickets have documents or not.

![image](https://user-images.githubus

[2019-10-18 04:42] RageshR007 commented on #4
Apache log

137.97.124.55 - - [18/Oct/2019:10:11:15 +0530] "GET /octa-it/apirest.php/Ticket/2018093710?expand_dropdowns=true&with_documents=true HTTP/1.1" 200 2566 "-" "Dalvik/2.1.0 (Linux; U; Android 8.0.0; AUM-AL20 Build/HONORAUM-AL20)"
137.97.124.55 - - [18/Oct/2019:10:11:15 +0530] "GET /octa-it/apirest.php/Ticket/2018093710/Ticket_User/?expand_dropdowns=true HTTP/1.1" 200 629 "-" "Dalvik/2.1.0

[2019-10-18 07:43] OscarBeiro commented on #4
Hi Ragesh,

Please, RTFM :)
https://tic.gal/en/project/gapp/

[2019-10-18 11:50] RageshR007 commented on #4
Hi Oscar..I had referred the manual...As mentioned on the manual tried to add followup with picture and documents still shows error...!..the interesting thing is documents and images adding via mobile app is visible in the web...but descriptions not adding on tickets.

[2019-10-21 12:08] xris5 opened #5 "Selection of "Requester" and "Assigned to" on ticket creation"
I would like to take into consideration that when creating a new ticket, once the corresponding entity was selected, gave the option to choose the Requester and did not put by default the user (in this case would be a technician) who has the session initiated in the app. And the same case with what would be the assigned technicians (not only the user who uses the app), and even the Watcher .

In t

[2019-10-22 13:24] reinethernal opened #6 "ERROR_LOGIN_PARAMETERS_MISSING"
**Describe the bug**
GAPP could not connect with an error related here
related issue
https://github.com/ticgal/gappessentials/issues/11
**To Reproduce**
Steps to reproduce the behavior:
1.Install app
2.Configure server URL on app
3.Try to login
4. see an error

**Expected behavior**
Login and use an app
**Screenshots**
If applicable, add screenshots to help explain your problem.
![photo_2019-10-22

[2019-10-23 05:32] reinethernal commented on #6
Here's additional screenshot made wirh packet capture software

[2019-10-23 05:35] reinethernal commented on #6
https://yadi.sk/i/N7pX2JBXZlDdfA

[2019-10-23 11:35] reinethernal commented on #6
Fixed

[2019-10-23 11:35] #6 closed, assigned to OscarBeiro

[2019-10-23 14:27] OscarBeiro commented on #6
Hi,
It would be great if you told us what was the problem on your side to help future users.
Regards,

[2019-10-23 15:35] OscarBeiro commented on #5
Hola @xris5:

Thanks for using Gapp.
This project started as a Self-service app for end-users, and has grown up in very little time.

We take duly note of your requests for future releases.

On ticket creation:
1. Assign requester (other than the logged user)
1. Assign technician
1. Assign watcher

Saludos :)

[2019-10-24 05:16] reinethernal commented on #6
@OscarBeiro had to add

<VirtualHost *:443>
X
X
X
X
SetEnvIf Authorization ".*" HTTP_AUTHORIZATION=$0

at config file

[2019-10-24 08:15] OscarBeiro commented on #6
So you are using a PHP-FPM
Thanks for the feedback, we will add it to Known issues.
Спасибо :)

[2019-10-24 08:19] reinethernal commented on #6
Thank you for such app) This is really helpfull. Can i add feature requests?

[2019-10-24 08:29] OscarBeiro commented on #6
Be my guess.
I have just setup a Feature request template.

[2019-10-29 12:58] tguichard25 opened #7 "Error on login"
**Describe the bug**
Unable to login

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/47602797/67768823-a04ad880-fa53-11e9-9079-6cec5c8839ed.png)

**Smartphone (please complete the following information):**
 - Device: Samsung galaxy A7
 - OS: 9

**Your GLPI server**
 - GLPI Version: 9.4.4
 - Installed plugins:
![image]

[2019-10-30 15:21] OscarBeiro commented on #7
Hi,
A few questions:

1. Can you connect to the demo server?

1. Did you follow every step of the manual? https://tic.gal/en/project/gapp/

Please note, you have to add complete server name. If you server is **http://glpiserver.tld/glpi** you must add **glpiserver.tld/glpi** to Gapp.

[2019-10-30 15:33] tguichard25 commented on #7
1. Yes I can
2.I followed all the steps. I can access the API page from a browser.

My server is accessible from the root of the server. I checked the address several times in "General configuration".
 http://glpiserver.tld/

[2019-10-30 15:42] OscarBeiro commented on #4
Hi Ragesh,
We have detected a bug affecting GLPI 9.3. Please upgrade to the last version: 0.9.8.5 and test again.
Regards

[2019-10-31 08:35] OscarBeiro commented on #7
Hi,
We've been thinking about this issue, and looks like #3.
Most probably a firewall rule is blocking something it shouldn't.

If you want to debug it, please close the ticket. If you want us to help you since we are willing to document the widest possible scenarios to help users fix them, I'm offering you, additional debugging time.

We would need you to create a self-service user, and provide t

[2019-11-08 11:09] reinethernal opened #8 "[Feature]Push notifications"
**Is your feature request related to a problem? Please describe.**
That would be great to add a push-notifications to the app.
**Describe the solution you'd like**
When a new ticket or followup created a push-notification is received.

[2019-11-08 11:45] OscarBeiro commented on #8
Hi,
We are working on this feature. Unfortunately, we don't think this could be easily achieved for the free app since it will involve an additional messaging service.
Regards,

[2019-11-08 14:14] reinethernal commented on #8
Maybe this could help?
https://www.truepush.com/blog/index.php/api-integrationhttp-website/

[2019-11-16 14:38] secfilatov opened #9 "[Feature] Wrong russian translation"
**Sponsor a feature**
...

**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
There are different first letter registry in the left menu of Russian Language App
мои заявки
Назначенные заявки
все заявки
В ожидании утверждения
о
And I think that the string "о" is not right might be "О программе"
Same problem on Login Screen Пользователь, парол

[2019-11-18 08:41] OscarBeiro commented on #9
Hi @secfilatov,

Sorry about this.  We don't have enough Russian knowledge to release a translation. This has been translated by a contributor: https://tic.gal/en/gapp-kudos/

We are in the middle of changing how we will handle translations. When we have a new solution I will update this issue to let you know how to correct it if you wish.

Спасибо :)

[2019-11-22 13:12] LaurentSGL opened #10 "can't open the application"
It is impossible for me to open the application after connection
i made several trials with other accounts :
- my colleague with the same profile as mine : same effect
- the admin account of glpi : it's works
so it's not a network problem, neither a server configuration but user configuration

i made some trial using the api rest with postman : no problem with my account/credential to access and u

[2019-11-25 09:34] PedroTicGal commented on #10
In the next hours we are going to release a new version of GAPP with some tweaks.
Please download it and try to reproduce the issue.

Cheers!

[2019-11-25 09:40] PedroTicGal commented on #4
This was fixed in version 0.9.8.4

[2019-11-25 09:40] #4 closed, assigned to OscarBeiro

[2019-11-26 06:41] LaurentSGL commented on #10
:( same problem with the new version

[2019-11-26 08:14] OscarBeiro commented on #10
Hi @LaurentSGL,
Could you confirm what is your Gapp version?

[2019-11-26 08:16] LaurentSGL commented on #10
i use 0.9.9.5-selfservice version, of november 25th

[2019-11-26 18:02] OscarBeiro commented on #10
Hi @LaurentSGL,

It's not possible for us to get every possible GLPI setup. If we don't manage the backend we miss a lot of information.

To solve partially this problem, since **0.9.9.6** we have enabled a Debug mode.
To activate it, please long press on the version number. This will open a dialog. If you accept, it will log all actions and send them after the crash.

This could lead us to what i

[2019-11-27 07:16] LaurentSGL commented on #10
Hi, i enable debug mode and made several trial, did you receive them ?

[2019-11-27 11:54] OscarBeiro commented on #10
That's strange.
We haven't receive any errors from 0.9.9.6.
Could you send some screenshots and a detailed step by step?
Thanks

[2019-11-27 16:26] LaurentSGL commented on #10
here what i can read sometimes on my phone when the app open :

java.lang.RuntimeException: Unable to start activity
ComponentInfo{gal.tic.gapp.selfservice/gal.tic.gapp.vista.MainActivity}:
java.lang.ArrayIndexOutOfBoundsException: length=1; index=-1
at
android.app.ActivityThread.performLaunchActivity(ActivityThread.java:2984)
at android.app.ActivityThread.handleLaunchActivity(ActivityThread.java:

[2019-11-28 10:28] PedroTicGal commented on #10
Hi Laurent.

We have received all the debug info and detected the issue. It seems that your GLPI API is not returning the information of entities, so the app is unable to point the right entity.

We recommend you to update to a newer version of GLPI (the newer the better) to see if this issue is solved, since you are using a **very old** version.

GAPP has been designed to work with GLPI 9.3+, so

[2019-11-28 12:35] LaurentSGL commented on #10
hum..odd..
because it works with the admin account ! and with a previous version of
your app i could connect too.
we know that we do not use the last version (9.2.1) but it always a rather
big job to migrate and change the version ! i will try ..one day ! :)
thanks for your assistance
sincerely
Laurent

Le jeu. 28 nov. 2019 à 11:28, PedroTicGal <notifications@github.com> a
écrit :

[2019-11-28 12:37] #10 closed, assigned to OscarBeiro, PedroTicGal

[2019-12-18 17:46] OscarBeiro commented on #7
Closed due to inactivity

[2019-12-18 17:46] #7 closed, assigned to OscarBeiro

[2019-12-18 17:48] OscarBeiro commented on #8
Hi @reinethernal,
They still use FCM and its not possible to set it up except for a custom app.
Regards,

[2019-12-18 17:48] #8 closed, assigned to OscarBeiro

[2019-12-18 17:50] OscarBeiro commented on #9
Hi,
We have migrated from our previous translation platform to Weblate.
You can suggest translations now, even without registering, and can be accepted if they are voted by other translators.

https://hosted.weblate.org/projects/gapp/gapp-selfservice/ru/

Regards,

[2019-12-18 17:50] #9 closed, assigned to OscarBeiro

[2020-01-21 16:30] comradekingu opened #11 "[Feature] Add license files for all repositories"
Weblate currently lists translations as AGPLv3-only, which seems incorrect(?).
Edit: It should be AGPLv3+ is what I am thinking.

[2020-01-21 16:32] comradekingu opened #12 "[Feature] Link to source/repo for Gapp"
Where is the actual source code for the Gapp app? Also had trouble finding the GitHub link on the website.

[2020-01-22 12:33] moivg79 opened #13 "Error when login"
**Describe the bug**
I use GLPI 9.3.0 and GAPP 1.0.0, I have configured the API in my GLPI with the manual.
When I try login from GAPP I get the next error: Error 005-82 -> Value <!DOCTYPE of type java.lang.String cannot be converted to JSONObject
If I login in demo I can to work correctly.

**Smartphone (please complete the following information):**
 - Device: Samsung A70
 - OS: Android 9

**Your

[2020-01-22 15:19] OscarBeiro commented on #11
Weblate translation project started as a test drive, and was created fast to move away from our previous plataform which was eye-candy but a nightmare to manage.

We wanted to modify the License but don't know how.
I have opened a ticket with support to update it.

Thanks.

[2020-01-22 15:21] OscarBeiro commented on #12
We have not released the source code.
Maybe in the future.

This issue tracker was thought to report issues from the application itself. If you don't use Gapp you don't need to open an issue :).

Regards,

[2020-01-22 16:03] OscarBeiro commented on #13
Hi,
As I've told you before, this is not a bug, but some misconfiguration related to your GLPI instance. However, we are interested in debugging this error because it will help more people.

On our side, we are going to add a new feature to show this string. Most likely to be a webpage with some error/message from your website or an appliance, firewall... between Gapp and GLPI. Giving users this i

[2020-01-22 19:44] comradekingu commented on #12
@OscarBeiro I am a translator, and in Hosted Weblate the project isn't listed as proprietary. https://hosted.weblate.org/projects/gapp/gapp-selfservice/#information
Was going to finish the translation when I noticed there was no source files as I came here to fix upstream strings.
Will remove my translation if this continues to be closed source.
You can't use AGPLv3 licensed translations in a clos

[2020-01-23 08:48] OscarBeiro commented on #12
HI @comradekingu,
Sorry for the misunderstanding. We have other open source projects as you can check in our public repo. Gapp Essentials, a Gapp companion plugin is one of them: https://github.com/ticgal/gappessentials

I completely understand your position, and have removed your translation from Weblate Gapp project.
![image](https://user-images.githubusercontent.com/18396050/72969285-73456200-3

[2020-01-23 08:48] #12 closed, assigned to OscarBeiro

[2020-01-23 11:36] moivg79 commented on #13
I have can to solve the problem but I have a new problem, when I try login the APP show the next message: "parameter(s) login or user_token are missing; view documentation in your browser at http://yourglpi/apirest.php/#ERROR_LOGIN_PARAMETERS_MISSING"
I have talked with my hosting provider but I cannot apply the solution that you present here: https://tic.gal/en/error_login_parameters_missing-conn

[2020-01-23 11:56] OscarBeiro commented on #13
Hola:

If you are using app_token remove it.

We don't know of an alternative solution for the other possible scenario . If you find it, please report it here and we will add it to our KB.

I will recommend you moving away from a shared hosting for GLPI. VPS are cheap and you have a lot more control over your server.

Saludos

[2020-01-31 09:25] nykroy commented on #13
Can you told me how do you solved the 005-82 error code please?

[2020-01-31 09:33] moivg79 commented on #13
I had an error in the url of the API configuration.

El vie., 31 ene. 2020 10:25, nykroy <notifications@github.com> escribió:

[2020-02-05 16:48] claudiatobarrodriguez opened #14 "[Feature] Ticket Validation"
Install gapp essentials on my mobile device, everything is correct but I do not see the approval requests or validations of glpi only allows to approve or reject resolved tickets are different contexts.
Could we have that option?
attached image for reference
excellent work!
![imagen](https://user-images.githubusercontent.com/44502507/73862672-e65ec780-480c-11ea-93fc-4d88ea86393a.png)

not displaye

[2020-02-05 17:11] OscarBeiro commented on #14
Hola Claudia :)

Solutions validation is the one showing currently in Gapp.
This other ticket validation feature is not yet developed. If you want to sponsor it, please contact us,

Saludos,

[2020-02-05 18:23] OscarBeiro commented on #14
By the way, you could help us very much rating the app:
https://play.google.com/store/apps/details?id=gal.tic.gapp.selfservice

Thanks

[2020-02-05 18:34] OscarBeiro commented on #11
License changed.

[2020-02-05 18:34] #11 closed, assigned to OscarBeiro

[2020-02-06 18:41] OscarBeiro commented on #13
Hi,
We have just opened back the beta channel. Please download and test it, and report back if your issue has been fixed.

Also do not forget to vote accordingly at Google Play :)
Thanks.

[2020-02-06 19:41] cr1stt0f3r opened #15 "does not delete files"
when uploading files or photos using the application, there is no option to delete this file.
The web version is also funny, as the delete button is transparent, almost invisible.

Is this adjustment possible?

[2020-02-06 20:21] moivg79 commented on #13
Where can I access to beta channel?

[2020-02-07 01:21] nykroy opened #16 "[Feature] search ticket"
Hi. Do you think it is a good idea to have a search box to put the id and we can search the ticket?

[2020-02-07 08:35] PedroTicGal commented on #15
Hi @cr1stt0f3r,

First of all, thank you for using Gapp and taking time to give us feedback about it!

If you are talking about deleting documents after uploading to GLPI, Gapp doesn't support yet this feature. Since we are offering Gapp for free, the launch of new releases and features will come slower than we'd love.

Anyway, this adjustment is possible if someone is willing to sponsor it. =)

W

[2020-02-07 08:47] OscarBeiro commented on #16
Hi @nykroy,

First of all, thank you for using Gapp and taking time to give us feedback about it!

This is absolutely on our To do list. If you want it soon on Gapp, please consider sponsoring it.

We'd like to thank you again for giving us feedback and we'd be very grateful if you could rate Gapp on Google Play to help us spread the word!

Cheers!

[2020-02-07 08:58] OscarBeiro commented on #13
Google is you friend @moivg79. :)
https://support.google.com/googleplay/answer/7003180?hl=en

[2020-02-07 11:35] moivg79 commented on #13
I know how to acces to beta apps in google play but the beta program is
full and in the early access section of google play is not gapp.

El vie., 7 feb. 2020 a las 9:58, Oscar B. (<notifications@github.com>)
escribió:

--

*Moisés Varela <http://www.moisesvarela.com>*
*Tlf: 606 85 37 06*
*Email: contacto@moisesvarela.com <contacto@moisesvarela.com>*
*Web:* http://www.moisesvarela.com

De acuerdo

[2020-02-07 14:44] nykroy commented on #13
My problem was solved modifying nginx config of glpi. the api wasnt caugth the comands because i had wrong config on location ~ /.php$

[2020-02-12 13:04] comradekingu commented on #12
@OscarBeiro You also can't relicense someone else's work into Creative Commons Attribution 4.0 International.

[2020-02-22 21:40] comradekingu opened #17 "Prohibited translation licensing change"
https://hosted.weblate.org/projects/gapp/gapp-selfservice/#information
was changed from AGPLv3+ to Creative Commons Attribution 4.0 International without consulting the rights-holders to the translations, which is the respective translators.

This is no longer me, as my translations were deleted, but alas.

[2020-02-24 17:45] OscarBeiro commented on #17
Hi,

As a result of your indications, we have changed the licensing of the translations. We asked a lawyer and he told us to change to the current license.
These are the actions we have taken to mitigate our mistake:

1. We have removed completely your translation Norwegian Bokmål, a month ago, as you asked.
2. Added a note to the Translation component, visible on access.
3. Added additional infor

[2020-02-25 00:20] comradekingu commented on #17
1. As noted, this does no longer concern me, for that reason.
2. The problem is you need the consent of the copyright holders to re-license the way you did.
3. That is good for translations following the change.
4. You do have that access. It is both in the commit logs, and in the generated contribution lists.

Please send compensation for my time making spent making a Norwegian Bokmål translation

[2020-02-25 14:15] ThigSchuch opened #18 "[Feature] Option to Choose What Language Use"
**"Problem"**
Some of us use the phone in another language (who knows why), but it happens and sometimes we want to use certain apps in our native language.
So we have to enter in our phone's config, and change the all system language back to our native.

**Solution**
A option in menu to we be able to choose what language we want to use, as happens in Telegram, for example.

See the screenshots:
!

[2020-02-25 14:30] OscarBeiro commented on #18
We think languages autoconfig is the easiest way for end-users, but "we feel your pain" when testing other languages. We need to change the system language to check it.

So, great idea! We will add it to the roadmap.

Obrigado @ThigSchuch,

[2020-02-28 08:23] PedroTicGal commented on #17
Hi Allan,

First of all, thank you for your time and feedback.

As you noted in your reply, we had a problem/misunderstood with the licence in "weblate". Once we realized the mistake, we changed it, but obviously, we cannot change the licence of translations that people did in this repository without their consent.

We cannot get email addresses from commit log since we are using a hosted Weblate,

[2020-02-28 08:23] #17 closed, assigned to nobody

[2020-03-04 14:07] fmanfredini opened #19 "When logging into Gapp, a blank popup appears"
When closing the popup it returns to the login screen
Version Android - 8.1.0
GAPP - Version 1.0.7.11 - Selfservice-beta

**Your GLPI server**
 - GLPI Version: GLPI 9.4.4
 - Installed plugins: Gapp Essentials 1.1.0

**Additional context**
The problem started to occur in the last app update

[2020-03-05 08:27] OscarBeiro commented on #19
Hi @fmanfredini,
Thanks for using Gapp.
This is not a bug. This is your environment returning than GLPI would do.
Gapp is parsing returned response,  trying to throw some light on your problem, but definitely not GLPI.

You need to start looking at your web server logs, firewall or any other device/appliance/service that is blocking communication between Gapp and GLPI.

We would appreciate telling

[2020-03-16 15:54] #19 closed, assigned to OscarBeiro

[2020-03-17 17:57] OscarBeiro commented on #18
Hi @ThigSchuch,

We have finished your requested feature. It will be released soon.

![gapp-self-service 1 1 0-select-language](https://user-images.githubusercontent.com/18396050/76886346-f55f7d80-6880-11ea-803d-2c6e8bb22c01.jpg)

Obrigado,

[2020-03-17 17:57] #18 closed, assigned to OscarBeiro

[2020-03-17 17:59] OscarBeiro commented on #13
Thanks for the feed back.
I think we can safely close this one since we are realeasing a new version soon.

[2020-03-17 17:59] #13 closed, assigned to OscarBeiro

[2020-04-01 09:17] OscarBeiro commented on #5
Hi,

Upcoming Gapp 1.1 will feature auto assign for watchers and techs.
We hope you find it useful.

Cheers,

[2020-04-23 10:44] OscarBeiro commented on #19
For future reference, we have added more information here: https://tic.gal/en/white-pop-up-when-login-into-gapp-doesnt-allow-login/

[2020-05-14 00:07] djmolletones opened #20 "Error al conectar Gapp a GLPI"
Al intentar conectar Gapp a mi servidor GLPI me presenta el siguiente error:

Error 007-167-->Attempt to invoke virtual method 'java.lang.Stringcom.google.gson.JsonPrimitive.getAsString()' on a null object reference

![image](https://user-images.githubusercontent.com/17554746/81877706-cc432c80-9553-11ea-95c2-460645ac4ad9.png)

Ya he configurado la conexión en la aplicación, Protocolo: http y la IP

[2020-05-14 08:54] OscarBeiro commented on #20
Hola:
Nos falta la versión de Gapp.
Saludos

[2020-05-14 14:46] djmolletones commented on #20
Hola,

Version 1.1.1-selfservice

Saludos,

El jue., 14 de may. de 2020 a la(s) 04:54, Oscar B. (
notifications@github.com) escribió:

[2020-05-15 07:50] OscarBeiro commented on #20
Hola:

Aparentemente el problema es relativo a los colores de prioridad. En Home > Setup > General > Default values

![image](https://user-images.githubusercontent.com/18396050/82025225-50e79500-9691-11ea-86da-c1bbeed2ba9d.png)

Fíjate si alguno de los **priority colors** no tiene color. No hay información sensible, así que puedes pegar un pantallazo.

En principio, vía web no es posible eliminar

[2020-05-15 19:49] djmolletones commented on #20
Hola,

No veo colores de prioridad en blanco
[image: image.png]

Efectivamente, la prioridad 2, en negro, la he ajustado y he ingresado sin
inconvenientes.

Muchas gracias por el apoyo.

El vie., 15 de may. de 2020 a la(s) 03:50, Oscar B. (
notifications@github.com) escribió:

[2020-05-16 17:00] thefamedtm opened #21 "Duda Sobre puertos requeridos"
Hola,

Me gustaría saber qué requerimientos necesitaría para poder conectar por Internet al servidor GLPI que tenemos en la oficina. Qué puertos del servidor deberían estar publicados sólo para uso de Gapp? El 80,443, etc...

Muchas gracias.

GLPI 9.4.5 + Gapp 1.1

[2020-05-18 09:58] OscarBeiro commented on #20
Hola:

Si seleccionas el valor negro funciona, en tu caso me inclino porque sale negro, porque se borró de la DB.

Saludos

[2020-05-18 09:58] #20 closed, assigned to OscarBeiro

[2020-05-18 10:00] OscarBeiro commented on #21
Hola @thefamedtm :

Necesitas el mismo acceso que a tu GLPI.
Si usas puertos estándar, 80 para http o 443 para https.
Si haces algún forward o utilizas otro puerto para exponer el servidor a internet, elige ese.

Saludos

[2020-05-18 10:00] #21 closed, assigned to OscarBeiro

[2020-05-21 15:00] emaw705 opened #22 "Error al momento de login - ERROR_RESOURCE_NOT_FOUND_NOR_COMMONDBTM"
Hola, estoy probando la herramienta Gapp y estoy teniendo inconvenientes para acceder al servidor.

La configuración de la API es correcta porque mediante CURL logro conectarme y que me genere una session-token.

Para este caso, desde el mismo servidor y desde un servidor diferente ejecuto lo siguiente:

curl -X GET -H 'Content-Type: application/json' \
-H "Authorization: Basic ZXdhc2luZ2U6ITIwMTV

[2020-05-22 09:01] PedroTicGal commented on #22
Hola Emanuel, nos podrías indicar qué versión de GLPI usas?

Saludos.

[2020-05-22 10:23] emaw705 commented on #22
Hola Pedro.

La versión de GLPI es 9.4.4.

Saludos.

[2020-05-22 15:43] OscarBeiro commented on #22
Hola Emanuel:

Parece que tu GLPI devuelve algo extraño al realizar peticiones standard a la API.
Nos inclinamos por culpar a algún plugin. Sigue estos pasos:

1. Desactiva todos los plugins

1. Intenta acceder desde la app nuevamente.

- Si es correcto el acceso, el culpable es un plugin y deberás ir activando uno a uno, y probando el acceso, hasta encontrar el que rompe la API.
- Si falla necesi

[2020-06-03 15:39] #22 closed, assigned to OscarBeiro

[2020-06-03 15:48] emaw705 commented on #22
Oscar, disculpa que no te haya respondido antes.

La verdad es que hice diferentes pruebas y en todas obtengo el mismo error.

Probé la versión 9.4.4 y 9.4.5 en un entorno virtual, sin ningún plugin, y obtengo el mismo error.

Adjunto envío la información de la instalación:

[Información instalación GLPI.txt](https://github.com/ticgal/gapp/files/4724490/Informacion.instalacion.GLPI.txt)

Saludos.

[2020-06-05 12:55] daliyoucef opened #23 "Gapp failed to connect"
<a href='https://github.com/ticgal/gapp/issues/23'>https://github.com/ticgal/gapp/issues/23</a><br><p>01:32 </p>n<p>I have always message error failed to connect to 192.168... after 5000ms ??? How to résolve this, i need help</p>n<p><img src="https://user-images.githubusercontent.com/66473763/83878299-3b1f3a00-a73c-11ea-9088-f2c7a5122808.jpg" alt="Screenshot_20200605-132926_Gapp" />nPrefer  speak

[2020-06-06 23:25] emaw705 commented on #22
Oscar, quería comentarte que logré hacer andar la aplicación.

Esta vez probé con GLPI 9.4.6. Entiendo que el error mío estaba en la configuración de la dirección del servidor en GAPP.

Sin respetar lo indicado en la guía para la configuración de Gaap, agregaba al campo "Dirección del servidor" la URL + "/apirest.php".

Al sacar de la URL la cadena "/apirest.php", la misma funcionó sin ningún inco

[2020-06-07 06:48] OscarBeiro commented on #22
Hola Emanuel:

Gracias por la información. Nos ha dado una idea para intentar identificar este tipo de problemas.

Saludos

[2020-06-10 17:10] OscarBeiro commented on #23
Hi,
Sorry about your French-speaking request. We have not enough proficiency for that.

We will need additional information to debug your issue. Fortunately we have developed a tool to help us with it.

1. Download GAT X from: https://tic.gal/en/project/gat/
1. Uncompress and execute the jar (you will need Java 8 installed)
1. Add your server user and password, just like you're doing in Gapp.
1. P

[2020-08-02 07:18] OscarBeiro commented on #23
No answer.
I close

[2020-08-02 07:18] #23 closed, assigned to OscarBeiro

[2020-09-03 03:31] ilmc2001 opened #24 "ERROR TIME OUT"
Hello I get several time out error on Gapp self service.

What can I do to solve this?

Luis Cunha

[2020-09-03 06:35] gitsyncuser commented on #24
<p><p dir=\"ltr\">Olá Luis,  </p><p dir=\"ltr\">We are aware of this issue. It is due to a slow GLPI SERVER.<br>Timeout is hard-coded on Gapp 1.1 but we have added a new setting  on upcoming 1.2. to allow increasing it. </p><p dir=\"ltr\">Obrigado pelo uso do Gapp</p><blockquote>Created with <a href='https://tic.gal'>GitSync</a> in GLPI by Óscar Beiro</blockquote>

![Screenshot_20200903_083009_gal

[2020-09-03 17:40] ilmc2001 commented on #24
Ok Thanks

I have 1.1.3 version can wait for upcoming 1.2.

By

Luis Cunha

[2020-09-03 17:40] #24 closed, assigned to OscarBeiro

[2020-09-11 06:12] pacoclares opened #25 "Error en login Gapp"
<a href='https://github.com/ticgal/gapp/issues/25'>https://github.com/ticgal/gapp/issues/25</a><br><p>Buenos días:nEstoy probando la versión Gapp: 1.1.3-selfservice y me salta el error que os muestro:n<img src="https://user-images.githubusercontent.com/46485799/92872251-1a831200-f406-11ea-9497-d718450eb3c6.png" alt="image" />nHe configurado API:n<img src="https://user-images.githubusercontent.com/

[2020-09-11 09:26] OscarBeiro commented on #25
Hi Paco:

Information is not enough. Anyway, I think you have not followed the manual. There's a link to a GLPI API specific article: https://tic.gal/en/how-to-setup-glpi-api/

We are releasing Gapp 1.2 in a few days and some improvements are done to get more error information.

By the way, please use English when reporting here, we'll reach a broader audience this way.

Thanks for using Gapp!

[2020-09-11 09:30] pacoclares commented on #25
Good morning Oscar:
I have simply followed all the steps, but directly, from the APP, nor does it try to log in. I have tried with GLPI local user, API created user, Synchronized Domain user. I have also tried to put server IP in configuration instead of DNS. Do you have to touch something at the server level, files ...? Any proof or idea?
Thanks for everything.

[2020-09-11 09:38] OscarBeiro commented on #25
You are missing API Client setup in your screenshot.

Anyway you can use our debug tool, and add here the generated file.
https://tic.gal/en/project/gat/

You can remove any sensitive data, like an IP or domains, like you did in your screenshot.

This will definitively help us

[2020-09-11 10:19] pacoclares commented on #25
Hi Oscar!:
Thanks!: This is the message:
{"serverAddress":"http://192.168.1.132","initSession":{"Error":"404:{\"Error\":\"Not Found\",\"Time_spent\":6}"}}

[2020-09-11 10:27] OscarBeiro commented on #25
Do you need additional information? :)

Let's see:
Is your device in the same LAN, or there is any routing from your mobile phone to 192.168.1.132?
Or do you want to access a Class C IP from the Internet?

[2020-09-11 10:34] pacoclares commented on #25
Good morning again Oscar, and thanks for everything. Yes, I am on the same internal network, I ping perfectly, and if I put in the browser: http://192.168.1.132, it appears to enter username and password, and it works perfectly with the credentials that I put in the test that you have passed me . I don't know if I have to activate or change something in 192.168.1.132 at the file level ...
![image]

[2020-09-11 10:45] pacoclares commented on #25
Good morning again Oscar:
I have checked the GLPI directories and I cannot find the apirest.php file in the root: In the API URL configuration, it is set as:
http://192.168.1.132/apirest.php, but in the root, this file is not there. Where should it be?

[2020-09-11 10:47] pacoclares commented on #25
![image](https://user-images.githubusercontent.com/46485799/92915458-e1aa6380-f42c-11ea-8aa3-5f873f0ebe19.png)

[2020-09-11 10:50] OscarBeiro commented on #25
Well, there you have.
I wouldn't trust your GLPI install if it is missing a core file :facepalm:
You can download it from the repository. Match your installed version.
https://github.com/glpi-project/glpi/blob/9.5/bugfixes/apirest.php

[2020-09-11 11:06] pacoclares commented on #25
Hello Oscar:
The file is already there. If I try to access, the documentation already appears:
![image](https://user-images.githubusercontent.com/46485799/92918264-8fb70d00-f42f-11ea-9594-4373f75b59f2.png)
I try again to access with the users created in that IP range, and it tells me exactly the same thing.
{"serverAddress":"http://192.168.1.132/","initSession":{"Error":"404:{\"Error\":\"Not Found

[2020-09-14 07:43] OscarBeiro commented on #25
Hi,
This is not a Gapp issue. Apparently, you have a faulty GLPI (no API).
You need to fix this. Use GLPI forums, or ask for professional support ;)
Cheers,

[2020-09-14 07:43] #25 closed, assigned to OscarBeiro

[2020-10-05 12:03] DuSantosIT opened #26 "ERROR_RESOURCE_NOT_FOUND_NOR_COMMONDBTM"
<p><a href="https://github.com/ticgal/gapp/issues/26">https://github.com/ticgal/gapp/issues/26</a></p><p>Ao tentar acessar fazer login aparece o erro ERROR_RESOURCE_NOT_FOUND_NOR_COMMONDBTM</p><p>n</p><p>O teste foi realizado em dois ambientes. Conectando em uma rede interna (192.168.0.110) e conectando na nuvem. Em ambos o erro foi o mesmo.</p><p><br />Created by DuSantosIT</p>
<blockquote>GLPI t

[2020-10-05 12:43] xacobofg commented on #26
Olá DuSantosIT,

You didn't add any of the additional information requested, regarding your GLPI and Gapp versions.

Anyway, you can download our debug tool and add the generated file to this ticket.

https://tic.gal/en/project/gat/

[2020-10-05 13:25] DuSantosIT commented on #26
GLPI 9.4.5
Gapp 1.2.0-selfservice

[2020-10-05 13:26] DuSantosIT commented on #26
GAT reportou o mesmo erro.

[2020-10-07 12:21] OscarBeiro commented on #26
Please attache GAT generated file.
Thanks

[2020-10-07 17:12] DuSantosIT commented on #26
O GAT não gerou o arquivo.

[2020-10-08 07:31] gitsyncuser commented on #26
<p>This is definitely a GLPI API issue. Not a Gapp one.</p><p>Anyway, if you could provide an access to your cloud instance we could try some basic debugging.</p><p>Regards,</p><blockquote>Created with <a href='https://tic.gal'>GitSync</a> in GLPI by Óscar Beiro</blockquote>

[2020-11-17 23:38] SwingJudge opened #27 "Photo button doesn't work on Android 11 for Pixel devices"
<p><a href="https://github.com/ticgal/gapp/issues/27">https://github.com/ticgal/gapp/issues/27</a></p><p>Hi, i just install your Gapp application for my GLPI server, and the first thing i wan't to say is "Thanks", because it's a very usefull app.</p><p>So, i have a problem, when i wan't to add a document/photo, i click on the button "Photo", but nothing else, the Photo app don't open. I verify the

[2020-11-18 09:27] PedroTicGal commented on #27
Hi @SwingJudge.
First of all, thank you for your kind words, this encourage us very much to keep improving Gapp.
Shamefully, android 11 has change the way of making photos from 3rd party apps and now this button is not working any more.
We will release a new version making Gapp fully compatible with Android 11 but not just yet. Documents upload should work as usually.
Also, as we can see in the re

[2020-11-18 11:34] SwingJudge commented on #27
Hi Pedro

OK, i install Gapp on other phone of my tech, and photos are fonctionnals,
surely they are on older version of android.

For Gappessentials, i have install the Gapp application before the plugin,
so i remove and reinstall the application on my phone, and it's OK, i see
the max file size too.

Thanks for your work and your response

Julien Lacour
Responsable Achats [image: Logo] <https://

[2020-12-03 09:02] SwingJudge opened #28 "Problem of connection with GLPI 9.5.3"
<p><a href="https://github.com/ticgal/gapp/issues/28">https://github.com/ticgal/gapp/issues/28</a></p><p>Hello</p><p>I have a problem since I updated my GLPI server, from version 9.5.1 to 9.5.3, unable to reconnect to the server by the GAPP application.</p><p>I have tested with a basic user type "glpi / glpi", and it works.</p><p>So I deduced that this comes from the fact that we go through a mail

[2020-12-09 15:11] SwingJudge commented on #28
Hi, someone have an idea?

[2020-12-11 10:52] OscarBeiro commented on #27
Hi Swing,

We have reviewed this issue thoroughly since initially looked more significant than it finally is.

Apparently what Android 11 does is blocking access to 3rd party camera apps, by removing the option to select default camera app, for security sake.

Fortunately for Gapp :), most of Android vendors add a stock camera app, and there is no such problem.

Unfortunately for you :(, Google Pi

[2020-12-16 18:49] OscarBeiro commented on #27
Hi Swing,

We have moved to an internal camera app to avoid this issue since we have detected other Android 11 devices like Oneplus are affected.

A new beta has been released. Could you please join the beta channel, test the new camera and report back?

Thanks,

[2020-12-16 18:51] OscarBeiro commented on #28
Hi,

Sorry about the late reply.

We don't have enough information to debug this issue.

Could you please post your system information? Setup > General > System > Information about system installation and configuration, add the information between the code tags.

You can also use our debug tool GAT https://tic.gal/en/project/gat/ and post the generated file.

Regards,

[2020-12-17 08:51] SwingJudge commented on #28
Hi Oscar,

Here is my system informations, thanks

[code]  
GLPI 9.5.3 ( => /var/www/vhosts/innotec-sa.com/Serveurs/SupportPROXL) Installation mode: TARBALL
--

Operating system: Linux vpscloud.innotec-sa.com 4.4.0-21-generic #37-Ubuntu SMP Mon Apr 18 18:33:37 UTC 2016 x86_64 PHP 7.2.34 fpm-fcgi (Core, PDO, PDO_ODBC, Phar, Reflection, SPL, SimpleXML, Zend OPcache, bcmath, bz2, calendar, cgi-fcgi,

[2020-12-17 08:57] SwingJudge commented on #27
Hi Oscar,

OK, how can i join the beta channel, when i go on the Play Store, on the Gapp application i have a message that the "Beta channel is full for the moment"?

I'm already in the beta channel of Google play store.

thanks

[2020-12-17 09:02] OscarBeiro commented on #28
GAT information will be needed finally,  https://tic.gal/en/project/gat/ and post the generated file.

Thanks

[2020-12-17 09:04] OscarBeiro commented on #27
Hi,

I have just increased the number of betatesters, please try to join in a few minutes.

I don't know exactly how long it takes to apply the changes.

Cheers,

[2020-12-17 09:24] SwingJudge commented on #28
I do the file with glpi user, with my credentials, i have this message

![image](https://user-images.githubusercontent.com/45215079/102468632-12b0ba80-4052-11eb-96be-a57b32cb6989.png)

[support.proxl.fr_2020-12-17_10-21-58.txt](https://github.com/ticgal/gapp/files/5708249/support.proxl.fr_2020-12-17_10-21-58.txt)

[2020-12-17 09:34] OscarBeiro commented on #28
Did you modify the txt in any way? Your session token is set to 000000.

Login is OK, since API returns information about your config.
I don't understand that GLPI behaviour.

I suggest running a GLPI test environment to test your auth method.
No data, no plugins, only test the auth.

[2020-12-17 09:54] SwingJudge commented on #28
I don't open this file ??
i just use the user glpi with internal database .

i go to test with a test environment and i tell you.

Thanks

[2020-12-17 11:14] SwingJudge commented on #28
Oscar, i just install a new GLPI on my webserver, i don't install any plugin, and so it's the same problem

![image](https://user-images.githubusercontent.com/45215079/102480763-0b44dd80-4061-11eb-9168-6ccb46344dc2.png)

so i do a GAT file with user "glpi"
[glpi.proxl.fr_2020-12-17_12-09-36.txt](https://github.com/ticgal/gapp/files/5708904/glpi.proxl.fr_2020-12-17_12-09-36.txt)

and system informa

[2020-12-17 12:07] OscarBeiro commented on #28
We are unable to replicate. We have tested on 9.5.3 and works well.
Could you please provide a test user/pass?

[2020-12-17 12:25] gitsyncuser commented on #28
<p>Testing</p><blockquote>Created with <a href='https://tic.gal'>GitSync</a> in GLPI by Óscar Beiro</blockquote>

[2020-12-17 13:46] SwingJudge commented on #28
can i send you in private message the testing user/pass?

[2020-12-17 16:30] SwingJudge commented on #28
i send you on mail
thanks

[2020-12-17 16:33] SwingJudge commented on #27
It's OK for me with this version 1.2.0.25-selfservice-beta

the camera app open normaly and the photo is integrated in the ticket.

thanks

[2020-12-17 17:03] #27 closed, assigned to OscarBeiro

[2020-12-18 08:37] SwingJudge commented on #28
Hi Oscar,

i don't understand your messages from your GLPI support, i sended you our login for our glpi test, i see you create a ticket, but i still cannot connect to this with this login, by the web site, yes, but not by the app.

[2021-01-11 12:17] #26 closed, assigned to nobody

[2021-01-22 18:20] DanielLLQ opened #29 "doesn't login"
<p><a href="https://github.com/ticgal/gapp/issues/29">https://github.com/ticgal/gapp/issues/29</a></p><p>GLPI 9.5.3 Gapp1.2.0 after entering the login and password, asks them again and does not allow them to be entered, then an endless connection occurs. there is nothing in the server logs. <img src="https://user-images.githubusercontent.com/77854150/105529590-cb80ae00-5d10-11eb-85fd-a7a0d21df78e.

[2021-01-25 12:34] PedroTicGal commented on #29
Hi @DanielLLQ,

First of all, thank you for using Gapp and providing us feedback :)

When you login in Gapp within your GLPI enviroment, Gapp expects a json with the token provided by your server.
If, instead, your server gives in return a html web page, Gapp shows it to you to help you out find the issue.

Usually this kind of issues are refered to firewall, proxies, and all sort of blockers.
Thi

[2021-01-26 04:02] DanielLLQ commented on #29
Hello. Thanks for answering.
Where can I get the json file for glpi? and how can I add a web server to the configs? 25.01.2021, 18:34, "Pedro Muñoz" <notifications@github.com>: Hi @DanielLLQ,First of all, thank you for using Gapp and providing us feedback :)When you login in Gapp within your GLPI enviroment, Gapp expects a json with the token provided by your server.If, instead, your server gives

[2021-02-01 07:27] OscarBeiro commented on #29
Hi @DanielLLQ,

We have some miscommunication here.

A JSON file is what GLPI returns when making a request to the API. In your environment, no JSON file is been returned, but an HTML file with the Login. This means you have an issue with your webserver configuration.

This is not a Gapp or GLPI issue, but a Webserver one. Ask your Sysadmin to fix it for you, or you can professional support to fix

[2021-02-02 11:03] CartCaved opened #30 "DNS is not flushed/up to date"
**Describe the bug**

We have GLPI running on an internal network with a firewall redirecting access to the machine from the internet. From the external network, the domain name points to the public IP. On the internal network, the local DNS points to the internal IP address of the GLPI instance.

When the client is on the internal network, GAPP is still trying to connect to the public IP.

**To R

[2021-02-02 11:21] CartCaved commented on #30
My bad - incorrectly filed!

[2021-02-02 11:21] #30 closed, assigned to nobody

[2021-02-02 15:35] OscarBeiro commented on #16
Hi @nykroy ,

This feature was added a while ago. Sorry about the belated update.
![image](https://user-images.githubusercontent.com/18396050/106623129-94ae6180-6574-11eb-9c4d-569c9d020dfa.png)

[2021-02-02 15:35] #16 closed, assigned to OscarBeiro

[2021-02-03 12:08] CartCaved commented on #5
Hi, is it possible to disable the assignment of tech. I'm the supervisor and I create tickets to be assigned to a specific person in the team or just for anyone available.

[2021-02-03 13:07] OscarBeiro commented on #5
Hi @CartCaved,

This feature is on the roadmap waiting for someone to sponsor it. When the time comes it will be developed according to clients needs.
If you are interested please contact us at https://tic.gal/

Regards,

[2021-03-18 16:50] #29 closed, assigned to PedroTicGal

[2021-03-18 16:52] OscarBeiro commented on #28
Hi,
I have already answer on our ticket.
We have investigated the issue, and the GLPI API apparently is not considering IMAP authentication. Because of this, Gapp is unable to authenticate.

You could open an issue at the GLPI project, to report it.
Regards,

[2021-03-18 16:52] #28 closed, assigned to OscarBeiro

[2021-05-31 07:26] dxdemetriou commented on #5
It will be useful when on the main ticket view is also visible the "assigned to" user (not the group), so to know which tickets are handled by others of the group. Or similar with the "Assigned Tickets" (all tickets assigned to other users but not to me)

[2021-05-31 07:50] OscarBeiro commented on #5
Hi dxdemeitrou,

Sorry but I don't get it. Could you open another ticket and explain it in more detail?

Thanks,

[2021-05-31 11:15] dxdemetriou opened #31 "List All tickets except those assigned to another users of the group"
<p><a href="https://github.com/ticgal/gapp/issues/31">https://github.com/ticgal/gapp/issues/31</a></p><p>It will be more helpfull to easily see "all tickets" except those that are "currently in process by a person of the group". For example if there is a group of 20 people, each person is self-assigned the ticket that will be handled by him/her, so every other people of the group knows that this t

[2021-05-31 17:51] OscarBeiro commented on #31
Hi,

Now I get it :).

For instance, a self-service user will see his/her tickets or these and the ones from their groups depending on the profile permissions.

The same applies to techs, but we've added the Assigned tickets to filter the ones relevant to logged user.

The "All Tickets" menu option, show all the tickets that a user can access.

We can add multiple filters, Group tickets, etc. Adva

[2021-08-09 06:06] reinethernal commented on #8
Hello again. And what about gotify? Is it possible to add such feature:
- User set up gotify server on his own,
- Creates api key
- Enters key and url of gotify server
- Starts receiving push notifications

[2022-01-25 16:17] SwingJudge opened #32 "Connection out since i migrate my server"
RTFM before opening an issue (Friendly reminder :)): https://tic.gal/gapp/
If you have not find a solution please add the information below.
---

**Describe the bug**

HI,
we use GAPP since 2 years ago, and since we have moved our server on a new hosting platform, we can't connect by the application GAPP.
I verify all parameters, API in GLPI and account in Gapp application, and i always have the s

[2022-02-23 14:24] carlosbayerl commented on #32
I have the same problem. I'm looking forward to the solution.

[2022-02-23 14:48] SwingJudge commented on #32
Hi Carlos,

i have resolved my problem, but i can't tell you exactly why.

I know that it's the PHP version that need to be depreciated, it's my hosting support who find it.

Good evening

[2022-02-23 14:48] #32 closed, assigned to nobody

[2022-02-23 15:15] OscarBeiro commented on #32
We've found some issues related to the PHP versions but did not have the time to confirm it.
Most likely to work versions  are 7.4 for Gapp Essentials and 8.0 for Gapp eXtended.
We'll look into it when we update the plugin to GLPI 10.
Regards.

[2022-03-10 10:39] Hermax1 opened #33 "Black screen just after credentials and APP stop working On my Android phone"
RTFM before opening an issue (Friendly reminder :)): https://tic.gal/gapp/
If you have not find a solution please add the information below.
---

I'm starting to install for test Android App Version 1.4.0-Selfservice.
Configuration of URL server is ok, protocole is https
then when i'm trying to connect just after the credential my phone screen goes black and the App stop running after few seconds

[2022-03-16 12:21] acmaximino opened #34 "Not found ao alterar o status pelo APP GAPP"
Ao acessar o ticket e tentar alterar o status, é apresentado na tela a mensagem Not Found

https://user-images.githubusercontent.com/98896237/158588632-5592ef2e-2117-497f-8f3b-b53890a12309.mov

Steps to reproduce the behavior:
1. Logar no GAPP
2. Acessar qualquer ticket
3. Canto superior direito, tentar alterar o status
4. No centro da tela aparece NOT Found e não altera o status

[2022-03-16 20:06] acmaximino commented on #34
Problema resolvido.

[2022-03-16 20:06] #34 closed, assigned to nobody

[2022-04-25 14:23] gelsoniezzi opened #35 "Modelo de solução filhos"
<p><a href="https://github.com/ticgal/gapp/issues/35">https://github.com/ticgal/gapp/issues/35</a></p><p>The "<strong>></strong>" symbol is being replaced by <strong>\></strong>.</p><p>Ticket > Cetegory and Local</p>
<blockquote>GLPI ticket number: <a href='https://xes.ticgal.com/index.php?redirect=ticket_9406' rel='nofollow'>9406</a><br/>Created with <a href='https://tic.gal'>GitSync</a> in GLPI

[2022-04-25 14:49] gelsoniezzi commented on #35
![Elétrica its ok](https://user-images.githubusercontent.com/6624897/165114250-fa5f2bf6-51db-422d-9f95-f19e43973e62.jpeg)

[2022-04-25 16:41] OscarBeiro commented on #33
Hi,
This seems to be related to some tweaking on your GLPI API, and the app not expecting the values it is sending.
Only GLPI 9.5 is supported.

Anyway, we will soon release a new beta, please join the beta channel to test and report.

Regards,

[2022-04-25 16:42] OscarBeiro commented on #35
Hi,
We will soon release a new beta, and it should be solved. Please join the beta channel.
Regards,

[2022-04-27 13:34] gelsoniezzi commented on #35
Thank you!

[2022-04-27 13:53] gelsoniezzi opened #36 "Actor defined in the Task model field not defined as an actor"
![image](https://user-images.githubusercontent.com/6624897/165531922-170a0b2e-313f-436a-b75b-4b90bb6a5e3e.png)

Actor defined in the Task model field not defined as an actor of the task registered in GAPP.

![image](https://user-images.githubusercontent.com/6624897/165534042-1a854159-53f4-46fd-a469-1aef95ca8562.png)

Add > Task;  Add > Model

[2022-05-02 10:25] OscarBeiro commented on #31
Hi,
We have just implemented a Saved Searches feature on Gapp 2 that should fix this and your future filtering needs.
It is currently a beta, but we have tested it intensively on our internal app.
Regards,

[2022-05-02 10:25] #31 closed, assigned to OscarBeiro

[2022-05-02 10:27] OscarBeiro commented on #36
Hi,
We have just released a new beta, and this issue should be fixed.
Please, feel free to reopen if it is not.

[2022-05-02 10:27] #36 closed, assigned to OscarBeiro

[2022-05-02 10:29] OscarBeiro commented on #35
Hi,
Beta is out. Please test, and report if not fixed.
Thanks.
Regards,

[2022-05-02 10:30] OscarBeiro commented on #33
Hi,
The beta is out.
Please test and reopen if necessary.
Regards,

[2022-05-02 10:30] #33 closed, assigned to OscarBeiro

[2022-06-17 02:26] caturputra opened #37 "Gapp Essentials must be installed and active [Plugin]"
<p><a href="https://github.com/ticgal/gapp/issues/37">https://github.com/ticgal/gapp/issues/37</a></p><p>I have install and activated Plugin GAPP Essential but when i want to login using GAPP Android client always show that gapp essentials must be installed and active.</p><p><img src="https://user-images.githubusercontent.com/8774702/174212582-87ca00cf-2620-4946-8bdd-0c03cb7da256.jpeg" alt="photo1

[2022-06-20 13:37] PedroTicGal commented on #37
Hi @caturputra,

First of all, thank you for using Gapp and providing us feedback :)

We are going to make some tests to see if we can replicate this behavior with a clean GLPI installation.

We will come to you with more information as soon as we discover something about this.

Cheers.

[2022-06-27 12:11] PedroTicGal commented on #37
Hi @caturputra,

We have added a new feature to Gapp to help any user having problems with the server connection.

This feature have been included in version 2.1.1 (0000275) of Gapp and enables a new screen to help diagnose server connections.

To open this screen you have to:

- Go to settings screen.
- Long-press the "about" icon.

![Screenshot_20220627-124532](https://user-images.githubusercont

[2022-06-30 14:04] gelsoniezzi commented on #35
Hi dear, is not fixet.
Version Beta 2.1.1 (0000275)
![WhatsApp Image 2022-06-30 at 11 01 29](https://user-images.githubusercontent.com/6624897/176697720-c0502ac3-ca07-4fdc-808e-c17a46218308.jpeg)

[2022-06-30 14:14] gelsoniezzi commented on #35
The same problem is running on Task Templates
![WhatsApp Image 2022-06-30 at 11 12 09](https://user-images.githubusercontent.com/6624897/176699595-9d67081a-21bb-4bc2-ba6c-8f8c6c99a7e2.jpeg)

[2022-07-14 06:48] PedroTicGal commented on #35
Hi @gelsoniezzi ,

This should be fixed already in the current beta versión of Gapp.

Thank you again for your feedback!

Cheers.

[2022-07-14 06:48] #35 closed, assigned to OscarBeiro, PedroTicGal

[2022-07-14 06:48] #37 closed, assigned to PedroTicGal

[2022-09-19 09:21] SwingJudge opened #38 "Error of connection -> [ListProfileParser] type ‘Null’ is not a subtype of type ‘String’ in type cast"
<p><a href="https://github.com/ticgal/gapp/issues/38">https://github.com/ticgal/gapp/issues/38</a></p><p>Hi,</p><p>i can't connect to my profile, i have this error :</p><p><img src="https://user-images.githubusercontent.com/45215079/190986944-23574b51-e761-4447-a052-69bd1b950ab7.png" alt="Screenshot_20220916-164848" /></p><p>I try with GLPI user by default, and it's fonctionnal.</p><p>Can you help

[2022-09-19 10:51] PedroTicGal commented on #38
Hi @SwingJudge ,

First of all, thank you for using Gapp and providing us feedback :)

We have added a new feature to Gapp to help any user having issues with the server connection.

This feature enables a new screen to help diagnose server connections.

To open this screen you have to:

- Go to settings screen.
- Long-press the "about" icon.

![Screenshot_20220627-124532](https://user-images.gith

[2022-09-19 11:02] PedroTicGal commented on #14
Hi @claudiatobarrodriguez ,

In the latest release of Gapp (Gapp 2.2) now it is possible to see ticket validation within the app.

I am attaching some screenshots about it.

Cheers!

![Screenshot_20220919-125707](https://user-images.githubusercontent.com/48908942/191003261-73294015-1fc9-41f2-8364-ebc047a72a7c.jpg)
![Screenshot_20220915-091945](https://user-images.githubusercontent.com/48908942/191

[2022-09-19 11:02] #14 closed, assigned to OscarBeiro

[2022-09-19 12:14] SwingJudge commented on #38
Thanks Pedro for your help, i send you the report by mail ;)

[2022-09-19 12:39] gitsyncuser commented on #38
<p>Ok, it seems we have found the issue.</p><p>As far as we can see with the information provided, in your \"Super-Admin\" profile, there is an entity assigned with no name, so the API returns a null instead.</p><p>Try to rename the entity with ID: 9 to a no-empty name (or remove this entity from this profile permissions) and let us know if it worked.</p><p>Cheers.</p><blockquote>Created with <a h

[2022-09-19 12:46] SwingJudge commented on #38
Perfect, it's all good.

Thanks and nice work for this application

[2022-09-19 12:46] #38 closed, assigned to PedroTicGal

[2022-09-19 12:51] PedroTicGal commented on #38
Thank you for using Gapp!

See you around =)

[2022-09-20 13:51] FedeBock opened #40 "Still having problems to access "Gapp Essentials must be installed and active [Plugin]""
<p><a href="https://github.com/ticgal/gapp/issues/40">https://github.com/ticgal/gapp/issues/40</a></p><p>Hi @caturputra,</p><p>We have added a new feature to Gapp to help any user having problems with the server connection.</p><p>This feature have been included in version 2.1.1 (0000275) of Gapp and enables a new screen to help diagnose server connections.</p><p>To open this screen you have to:</p

[2022-09-20 13:57] FedeBock commented on #40
Gapp 2.2.0
GLPI 9.5.5
Gapp Essential 1.3.0

In this Gapp version  there is no "Selftest" option in the Configuration menu.

Any suggestions?
Regards

[2022-09-20 14:01] FedeBock commented on #40
![Screenshot_20220920-110033](https://user-images.githubusercontent.com/114000140/191278273-620c7a2c-6503-4fbd-afa4-9ddbccc734ca.jpg)

[2022-09-20 14:17] caturputra commented on #40
Hi @FedeBock, thanks in advance and in version 2.1.1 of gapp essentials plugin , I have no problem with server connection. I also did some configuration about https on my server which I haven't done before.

[2022-09-20 15:18] FedeBock commented on #40
So your recommendation is to upgrade Gapp Essentials to version 2.1.1.
I will do so and will back with the results.

[2022-09-21 17:21] OscarBeiro commented on #40
Please let us know how it went @FedeBock
Thanks

[2022-09-22 17:47] IlzoNeto opened #41 "Não estou conseguindo acesso o aplicativo após a nova atualização dele."
<p><a href="https://github.com/ticgal/gapp/issues/41">https://github.com/ticgal/gapp/issues/41</a></p><p>Quando tento acessar o aplicativo, retorna o seguinte erro: FormatException: Unexpected character (at character 1 ) <br />Estou usando o GLPI como servidor.</p><p><br />Created by IlzoNeto</p>
<blockquote>GLPI ticket number: <a href='https://xes.ticgal.com/index.php?redirect=ticket_11284' rel='

[2022-09-23 06:37] PedroTicGal commented on #41
Hi @IlzoNeto,
Could you tell us which version of **Gapp** and **Gapp Essentials** are you using?
Thanks.

[2022-09-23 08:07] PedroTicGal commented on #41
GLPI version too, please :)

[2022-09-23 10:19] acnology commented on #41
Hello @PedroTicGal
im using GLPI 9.5.5 its work with new Gapp Plugin ?
My versions:

Gapp Essentials: 1.2.0
GLPI: 9.5.5
Gapp app: 2.2

[2022-09-23 10:31] PedroTicGal commented on #41
Hi @acnology ,

See attached link -> [changelog of Gapp Essentials plugin](https://github.com/ticgal/gappessentials/releases).

It seems you are using an old version of essentials plugin.

Update plugin to 1.3.0 and try again, please.

Thank you.

[2022-09-23 14:58] IlzoNeto commented on #41
Plugin 1.3.0 e o App 2.2.0 glpi 9.5

[2022-09-24 16:40] Realy97 opened #42 "Detalles con el inicio de sesion en la app"
<p><a href="https://github.com/ticgal/gapp/issues/42">https://github.com/ticgal/gapp/issues/42</a></p><p>Hola. la versión de glpi se actualizó de 9.4.4 a la versión 10.0.0, anteriormente en la versión de la app funcionaba bien sin ningún problema, para actualizar a la nueva versión se cambió el servidor de ubuntu a windows y la También se cambió la IP del servidor, lo único que se hizo fue exporta

[2022-09-26 08:20] PedroTicGal commented on #42
Hola @Realy97,

Podrías pasarnos la siguiente información:

- **Versión de GLPI**
p.e: GLPI 9.5.5 (Toda la numeración, no solo GLPI 9.5 o GLPI 10)
- **Versión de Gapp**
p.e: Gapp 2.2.0 (0000290)
- **Versión del plugin Essentials**
p.e: Essentials 1.3.0 or 2.0.1

Gracias.

---

Hi @Realy97,

Could you provide us your:

- **GLPI version.**
i.e: GLPI 9.5.5 (The complete version number, not just GLPI

[2022-09-26 08:22] PedroTicGal commented on #41
Hi @IlzoNeto ,

Could you provide us the whole GLPI version number? 9.5.**X**

Thank you.

[2022-09-26 13:52] IlzoNeto commented on #41
9.5.5

[2022-09-26 14:44] gitsyncuser commented on #41
<p>Hi @IlzoNeto,</p><p>Could you please send us your GLPI <strong>PHP</strong> and <strong>SQL</strong> error logs to help us to see different solutions for your problem?</p>

<p>Thank you.</p><blockquote>Created with <a href='https://tic.gal'>GitSync</a> in GLPI by Pedro Muñoz</blockquote>

[2022-09-26 20:46] Realy97 commented on #42
Hola les paso la información solicitada

**Versión de GLPI**
 GLPI 10.0.3
**Versión de Gapp**
 Gapp 2.2.0 (0000289)
**Versión del plugin Essentials**
 Essentials 2.0.1

[2022-09-27 06:28] PedroTicGal commented on #42
Hola @Realy97,

Podrías por favor enviarnos los logs de errores de PHP y SQL de tu GLPI para ver cuál es la causa de este problema y poder ver cómo solucionarlo?

Muchas gracias.

<hr>

Hi @Realy97,

Could you please send us your GLPI PHP and SQL error logs to help us to see different solutions for your problem?

![6331590568fa99 86595214image_paste1263413](https://user-images.githubusercontent.co

[2022-09-27 14:43] Realy97 commented on #42
Hola aqui envio el log de php, de sql no tengo como tal un registro o por lo menos no encontre alguno entre las carpetas si me pudieran indicar en donde lo puedo encontrar  esta es la ruta que segui y encontre el de php  glpi/files/_log/

[php-errors.log](https://github.com/ticgal/gapp/files/9656993/php-errors.log)

[2022-09-27 15:57] gitsyncuser commented on #42
<p>Hi,</p><p>In order to help you, we need additional information about your GLPI instance. Please, go to:</p><p><code><em>Setup > General > System > Information about system installation and configuration</em></code></p><p>Depending on you GLPI version you can:</p><ul><li>Select the info between the code tags</li><li>Click on the <code>Copy system information</code> button</li></ul><p>Regards, </

[2022-09-27 17:47] FedeBock commented on #40
Still having problem.
The 2.1.1 of gapp essentials plugin seems to be for GLPI 10.0,  I have GLPI 9.5
Any advice?
Regards

[2022-09-27 19:17] joaopauloalves1 opened #43 "new version 2.2.0 does not load images[Feature]"
In this new version, technicians are not able to view the images attached by applicants within the GLPI. When clicking on the file the image does not load and when trying to download the file is not downloaded. Follow application images

![image](https://user-images.githubusercontent.com/86487734/192615819-3ed999d1-07bf-4761-8429-f2d7e7959574.png)

In the attached image we can see how the applicat

[2022-09-27 20:13] IsraeVelez opened #44 "Problema con el error ERROR_SESSION_TOKEN_MISSSING"
Hola a todos, espero puedan ayudarme
cuando quiero iniciar sesion en GAPP sale el error "ERROR_SESSION_TOKEN_MISSSING"
La versionde mi GLPI es 10.0.3
version de GAPP es la  2.2.0 (0000289) Beta
Version de GAPP Essentials  2.0.1
Agrego una foto del error :)
![Screenshot_20220927_151019](https://user-images.githubusercontent.com/80785403/192626111-4d51bf55-1ab7-4453-8ecb-b6b5a61a362b.jpg)

[2022-09-27 20:29] Realy97 commented on #42
Hola, Espero que la informacion sea la solicitada
<details><summary>Información sobre instalación y configuración de sistema</summary><pre>GLPI 10.0.3 (/glpi => C:\xampp\htdocs\glpi)
Installation mode: TARBALL
Current language:es_MX

</details><details><summary>Server</summary><pre> 
Operating system: Windows NT DESKTOP-9QIVU8V 10.0 build 19044 (Windows 10) AMD64
PHP 8.1.6 apache2handler (Core, PD

[2022-09-27 20:31] Realy97 commented on #44
Hola @IsraeVelez  yo igual tengo ese problema con la app espero haya alguna solución para ese detalle.

[2022-09-30 07:35] gitsyncuser commented on #44
Hi,

Could you please send us your:

- GLPI version i.e.: GLPI 9.5.5 (The complete version number, not just GLPI 9.5 or GLPI 10)
- Gapp version i.e.: Gapp 2.2.0 (0000290)
- Gapp Essentials plugin version i.e: Essentials 1.3.0 or 2.0.1
- OS version i.e.: Ubuntu 22.04 
- Webserver version i.e.: Apache 2.4.

Thank you.

[2022-09-30 07:38] gitsyncuser commented on #43
Hi,

Could you please send us your:

- GLPI version i.e.: GLPI 9.5.5 (The complete version number, not just GLPI 9.5 or GLPI 10)
- Gapp version i.e.: Gapp 2.2.0 (0000290)
- Gapp Essentials plugin version i.e: Essentials 1.3.0 or 2.0.1
- OS version i.e.: Ubuntu 22.04 
- Webserver version i.e.: Apache 2.4.

Thank you.

[2022-10-04 07:35] gitsyncuser commented on #43
<p>Please manually update to Gapp Essentials 2.0.2 and report back.</p>\r\n<p>https://github.com/ticgal/gappessentials/releases/tag/2.0.2</p>\r\n<p>Regards,</p><blockquote>Created with <a href='https://tic.gal'>GitSync</a> in GLPI by Óscar Beiro</blockquote>

[2022-10-04 11:35] joaopauloalves1 commented on #43
Versão GLPI: 9.5.6
Versão GAPP: 2.2.0 (0000289)
Versão Plugin: 1.3.0
Versão SO: Debian 11
Versão Apache: Apache 2.4.51

[2022-10-06 03:28] FedeBock opened #45 "Gapp 1.4.1 apk"
.Does anybody have a secure link to download teg Gapp version 1.4.1?
I probe the 2.0 and doesn't work for me, but the old version is still working for the technician that doesnt upgrade. Unfortunately I couldn't found a secure link to download and downgrade to the previous version of Gapp.
Please help me whit a link or the apk file.
Regards

[2022-10-06 05:54] OscarBeiro commented on #45
Hi,
Sorry, we have discontinued the 1.X development completely.
In fact, we warn it on the 1.4.1 version.
If you have an issue, please open a ticket detailing all your software and OS versions and a way to reproduce it.
Regards,

[2022-10-06 05:54] #45 closed, assigned to OscarBeiro

[2022-10-06 05:56] OscarBeiro commented on #44
Hi,
Please check this KB article:
https://tic.gal/es/error_app_token_parameters_missing-conectandose-a-la-api-de-glpi/

[2022-10-06 05:56] #44 closed, assigned to OscarBeiro

[2022-10-06 08:15] PedroTicGal commented on #42
Hi @Realy97,

We have released a new version of Gapp Essentials in the marketplace (version 2.0.2) and we think the problem is solved in this version.

If the problem is not solved, please reopen this issue.

Thank you.

[2022-10-06 08:15] #42 closed, assigned to nobody

[2022-10-06 08:17] PedroTicGal commented on #41
Hi @IlzoNeto,

We have released a new version of Gapp Essentials in the marketplace (version 2.0.2) and we think the problem is solved in this version.

If the problem is not solved, please reopen this issue.

Thank you.

[2022-10-06 08:17] #41 closed, assigned to PedroTicGal

[2022-10-06 08:26] PedroTicGal commented on #40
Hi @FedeBock,

We are planning to release a new version of Gapp Essentials, compatible with GLPI 9.5.9 soon (hopefully, next week).

We will let you know when it is released.

Thank you.

[2022-10-06 08:28] PedroTicGal commented on #43
Hi @joaopauloalves1,

We are planning to release a new version of Gapp Essentials, compatible with GLPI 9.5.9 soon (hopefully, next week).

We will let you know when it is released.

Thank you.

[2022-10-06 13:19] IsraeVelez commented on #44
Thanks for help me I already solved the problem by installing glpi in a docker compose and in gcp

[2022-10-06 16:10] Realy97 commented on #42
Hola  buenos dia
Ya realice el procedimiento para configurar pero aun asi sigo teniendo el mismo problema no me deja.
Lo primero que hice fue descargar el plugin del mercado ahora tengo la version
![image](https://user-images.githubusercontent.com/33636630/194357972-9ed5f8af-aaa4-47b6-a9c6-8107b98024db.png)

sin embargo aun he podido ingresar por ejemplo en le url de la api
![WhatsApp Image 2022-1

[2022-10-06 17:24] OscarBeiro commented on #44
It is usually a GLPI misconfiguration and hard to debug from our side.
Thanks for the feedback.

[2022-10-06 17:50] Realy97 opened #46 "Seguimiento con el inicio de sesion que no permite abrirlo con la app"
Hola
Ya realice el procedimiento para configurar pero aun asi sigo teniendo el mismo problema no me deja.
Lo primero que hice fue descargar el plugin del mercado ahora tengo la version
![image](https://user-images.githubusercontent.com/33636630/194357972-9ed5f8af-aaa4-47b6-a9c6-8107b98024db.png)

sin embargo aun he podido ingresar por ejemplo en le url de la api
![WhatsApp Image 2022-10-06 at 10 4

[2022-10-14 17:31] jorgepn opened #47 "gapp 2.2.1 boton de configuracion cambio por condiciones de servicio"
gapp 2.2.1 boton de configuracion cambio por condiciones de servicio ,
presiono el boton y no hace nada, no aparece para configurar el servidor

![WhatsApp Image 2022-10-14 at 11 27 39 AM](https://user-images.githubusercontent.com/69011398/195906755-ffb5caf2-1ebc-48af-90c0-2bc7df5cf23a.jpeg)

[2022-10-18 21:38] dalohuer2004 commented on #47
Hola, también me ocurre lo mismo, tiene alguna solución en la opción beta??

[2022-10-19 06:06] OscarBeiro commented on #47
Hi,

The "Solution" is **Accept the Service Conditions**.

Regards,

[2022-10-19 06:06] #47 closed, assigned to PedroTicGal

[2022-10-19 07:05] PedroTicGal commented on #46
Hola @Realy97,

Afortunadamente ya hemos localizado el problema y mientras escribo esto, mis compañeros están haciendo un nuevo release de Gapp Essentials.

Si deseas obtenerlo antes de que lancemos este release públicamente, puedes ir al siguiente issue y aplicar el parche que mi compañero Xacobo (xacobofg) facilita en el mismo.

https://github.com/ticgal/gappessentials/issues/38#issuecomment-128

[2022-10-19 07:05] #46 closed, assigned to nobody

[2022-10-19 07:32] PedroTicGal commented on #43
Hi @joaopauloalves1,

Just in case you are still in 9.5.6…

https://tic.gal/en/cve-2022-35914-and-how-the-glpi-ecosystem-might-be-affected/

Gapp will no longer accept GLPI installations bellow GLPI 9.5.9 (Gapp Essentials 1.4.0) or 10.0.3 (Gapp Essentials 2.1.0), for security sake.

Thank you.

[2022-10-19 08:13] PedroTicGal commented on #47
Hola @dalohuer2004 y @jorgepn,

Después de revisar este problema (parece que hay bastante gente a la que le sucede esto) finalmente hemos encontrado el motivo del error.

En nuestra página de traducciones parece que se tradujo incorrectamente la cadena de las "condiciones y términos de uso" y el código no era capaz de encontrar los puntos clave para parsear las url que redirigen a los términos.

E

[2022-10-20 11:24] PedroTicGal commented on #43
Hi @joaopauloalves1,

There is a new version of Gapp Essentials on the marketplace.

Gapp Essentials 1.4.1 for GLPI 9.5.9 and above (only GLPI 9.x.x, not GLPI 10.x.x).
Gapp Essentials 2.1.1 for GLPI 10.0.3 and above.

Try it and, if the issue persist, please reopen this issue.

Thank you.

[2022-10-20 11:24] #43 closed, assigned to PedroTicGal

[2022-10-20 11:25] PedroTicGal commented on #40
Hi @FedeBock,

There is a new version of Gapp Essentials on the marketplace.

Gapp Essentials 1.4.1 for GLPI 9.5.9 and above (only GLPI 9.x.x, not GLPI 10.x.x).
Gapp Essentials 2.1.1 for GLPI 10.0.3 and above.

Try it and, if the issue persist, please reopen this issue.

Thank you.

[2022-10-20 11:25] #40 closed, assigned to nobody

[2022-10-20 15:29] TestOrganigrammeBA opened #48 "Problem launching the GAPP application"
**Is your feature request related to an issue? Please describe.**

Since our upgrade to version 10.0.4-dev, the GAPP application displays the error concerning CVE-2022-35914 and CVE-2022-35947.

**Describe the solution you want**

We would like the application to detect that our version of GLPI is above version 10.0.3

**Describe the alternatives you have considered**

A return to version 10.0.3 f

[2022-10-21 08:15] PedroTicGal commented on #48
Hi @TestOrganigrammeBA,

First of all, thank you for using Gapp and contacting us with your feedback.

As far as we know, this problem must be related to the "-dev" suffix in the GLPI version naming.

In every new version of GLPI there are several changes that "break" Gapp and therefore we have to fix it to make it work smoothly. Gapp will probably not work correctly in a dev version of GLPI.

Unf

[2022-10-21 08:15] #48 closed, assigned to PedroTicGal

[2022-10-25 06:20] LaurentSGL opened #49 "Problem to connect with cas authentication"
I have a glpi instance v9.5.9
The authentication is done with a cas server (apereo) and user informations come from an ldap server.
Everything works well when i connect to https://glpi.xxxxx.fr even if i bypass the cas authentication with https://glpi.xxxxx.fr/?noCAS=1 to use a ldap authentication.

But i is impossible to connect with your Android version :( i have the message : "cookie getter, re

[2022-10-26 19:41] prbond commented on #49
Hi,
I have the same problem. I have glpi 9.5.9 with plugin Gapp Essentials 1.4.1. with the same environement with a cas server (apereo)
It work well before this new version.
I had ever send you a report with the Selftest app

[2022-10-26 20:10] Realy97 opened #50 "detalle con actualizaciones"
Hola, nuevamente he realizado todo el proceso que me comentan, me percate de que ya habian realizado la actualizacion de la app de gapp y la del gapp essential, sin embargo sigo teniendo los mismo incovenientes, no se que sea lo que sucede.
me marca los mismo.
![image](https://user-images.githubusercontent.com/33636630/198126412-b06d4d7b-4e2f-4e50-8283-228eb94bb370.png)

ya actualice la version de

[2022-10-27 07:22] PedroTicGal commented on #50
Hola @Realy97,

Nos podrías enviar el reporte de errores de Gapp y adjuntar al correo el número de issue para saber que es tuyo?

Aquí tienes las instrucciones -> https://github.com/ticgal/gapp/issues/37#issuecomment-1167273909

Además, nos podrías indicar qué versión de GLPI y Gapp Essentials (el plugin) usas?

Muchas gracias.

[2022-10-27 14:21] Realy97 commented on #50
Hola buen dia, ya eh enviado el correo con la informacion tambien si gustan puedo subirlo aqui para tener el registro de lo que sucede.
Espero y me puedan apoyar. Se los agradecere infinitamente

[2022-10-28 22:05] rafacss opened #51 "distorted image using Gapp with Glpi 10.0.3"
Whenever I take a photo using the smartphone camera using the Gapp, the image seen in the Gapp is normal, but when I view it in the Glpi Web, whether horizontal or vertical, it is distorted and stretched.

I'm using Glpi 10.0.3 and Gapp 1.4 on my Android 12.

![image](https://user-images.githubusercontent.com/67194670/198740195-016ed439-faf6-419b-b183-ce71430cf580.png)

![image](https://user-image

[2022-10-31 16:26] PedroTicGal commented on #49
Hi @LaurentSGL and @prbond,

Gapp always tries to connect to the GLPI web service to save the cookie and use it later to retrieve the images embedded in followups and tasks. These images are not retrieved by the API but directly by URL.

It may happen that your GLPI web URL leads Gapp to a redirection loop (error 30X) and therefore shows this error. Try making a simple request to your GLPI URL and

[2022-10-31 16:31] PedroTicGal commented on #50
Hola @Realy97,

Hemos recibido toda la información que nos has enviado. Elevo este caso a mis compañeros de desarrollo web ya que parece un problema con el plugin Gapp Essentials (y probablemente con Windows).

Te informaremos con lo que encontremos.

Un saludo.

[2022-10-31 16:42] PedroTicGal commented on #51
Hi @rafacss,

We have seen this before. If you download and open this image on your computer, mobile device, etc... you will probably see the image without problems.

It seems to be a problem with the GLPI preview module and the EXIF properties.

Could you try Gapp 2 and let us know if you find any improvement?

Thank you.

[2022-11-01 01:50] rafacss commented on #51
thanks for the feedback!  the problem occurs in Gapp version 2.2.2

[2022-11-02 21:05] LaurentSGL commented on #49
Hi,my glpi URL is https://glpi.ecam.fr

[2022-11-03 08:41] PedroTicGal commented on #49
Hi @LaurentSGL,

Now I can see why Gapp is not able to get the cookie correctly.

Gapp is trying to get the cookie from its GLPI instance, but instead it is facing its CAS frontend.

Without this cookie, Gapp will not be able to display the embedded images in followups and tasks. Then users will come to report Gapp is not displaying images, so we will have to display an information banner for this

[2022-11-03 08:47] LaurentSGL commented on #49
Thanks for your informations
Instaed of having URL https://glpi.ecam.fr,i try with
https://glpi.ecam.fr/?noCAS=1 which prevent to have a cas authentication
(but ldap one) but the gapp doesn't matter this URL too
Laurent s

Le jeu. 3 nov. 2022 à 09:42, Pedro Muñoz ***@***.***> a
écrit :

[2022-11-07 14:08] rafacss opened #52 "Widget Feature Suggestion for Android Smartphones"
I would like to contribute a feature suggestion to the Gapp.

Widgets for Android Smartphones are very useful, I believe that a widget that allows you to view the number of new calls, assigned, pending and planned calls as a shortcut on the android screen would be amazing!

example:

![photo_2022-11-07_11-02-27](https://user-images.githubusercontent.com/67194670/200330472-5a7a6bff-a7b9-49ae-afa6-5

[2022-11-09 09:32] PedroTicGal commented on #50
Hola @Realy97,

Después de investigarlo con desarrollo web, llegamos a la conclusión que debe tratarse de una configuración erronea en su servidor web.

La petición que está haciendo que Gapp no funcione debidamente está funcionando correctamente, pero su servidor web está adjuntando al inicio de la respuesta código HTML que debería ir a los logs de PHP. Después de eso, está devolviendo la respues

[2022-11-09 09:32] #50 closed, assigned to PedroTicGal

[2022-11-11 07:38] PedroTicGal commented on #49
Hi @LaurentSGL,

I'm afraid that doesn't work like that. You enter a URL in the configuration screen, and this URL is what is requested for the cookie.

The way Gapp parses this to put together the final URL is: [protocol]://[GLPI URL]/apirest.php.

The "?noCAS=1" suffix will not work to correctly connect to the API.

[2022-11-21 08:39] tilkov opened #53 "Gapp on version 10.0.3 problem"
**Affected versions**

Gapp version:  2.2.2 (0000303)
GLPI version: 10.0.3
Gapp Essentials version:

**Describe the bug**

Gapp cannot connect to out GLPI 10.0.3 server, says that it supports only 10.0.3 or above (the screen that explains about the RCE and the SQL injection)

**To Reproduce**

Steps to reproduce the behavior:

Install Gapps from Google Play,
Set server protocol and hostname,
Try t

[2022-11-26 15:39] OscarBeiro commented on #5
This feature will be released on the next Gapp version.
Thanks

[2022-11-26 15:39] #5 closed, assigned to OscarBeiro

[2022-11-28 11:29] dhrzic opened #54 "[Feature] On ticket resolution add an option so customer can provide their signature"
**Is your feature request related to a problem? Please describe.**
Feature request

**Describe the solution you'd like**
It would be affective and papperless if we had an option when ticket is being resolved, to enable tehnician to get/collect the signature from the customer.
Option like an popup drawing editor (or something similar) so customer can add their signature to confirm ticket resolution